*{
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
}
.container{
    max-width: 80%;
    background-color: rgba(228, 224, 231, 0.336);
    padding: 34px;
    margin: auto;
}

.container h1,p{
    text-align: center;
    background-color: rgba(226, 237, 238, 0.884);
}  
p{
    font-size: 17px;
}

input,textarea{
    
    background-color: rgba(226, 177, 112, 0.575);
    border:2px solid black;
    border-radius: 6px;
    outline: none;
    width: 80%;
    margin: 10px 0px;
    padding: 7px;
    font-size: 16px;
}
input:hover,textarea:hover{
    background-color: cornsilk;
}
.btn{    
         color: white;
         background-color: purple; 
         border: 2px solid black;
         cursor: pointer;
         border-radius: 14px;
}
form{
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
}
.bg{
    width: 100%;
    position: absolute;
    z-index: -1;
    
}
::placeholder {
    color:black;
    text-emphasis-style: solid;

  }
.submitmsg{
    color: green;
}
